server:
  port: 9000
  forward-headers-strategy: framework

spring:
  profiles:
    active: local
  application:
    name: authvs-server
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/authvs?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  data:
    redis:
      host: localhost
      port: 16379
      database: 0
      password: 123456
      timeout: 10000
  mail:
    host: smtp.xxxx.com
    port: 465
    username: xxx@xxx.com
    password: password
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000

sms:
  app-id: app-id
  secret-key: key
  sign: "【xxxx】"
  ip: www.btom.cn
  port: 8080

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    org.springframework.security: INFO
    org.springframework.security.web.FilterChainProxy: DEBUG
    org.springframework.security.oauth2: INFO
    com.authvs.server: DEBUG
