server:
  port: 9000
  forward-headers-strategy: framework

spring:
  application:
    name: authvs-server
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/authvs?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  data:
    redis:
      host: localhost
      port: 16379
      database: 0
      password: 123456
      timeout: 10000

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    org.springframework.security: INFO
    org.springframework.security.web.FilterChainProxy: DEBUG
    org.springframework.security.oauth2: INFO
    com.authvs.server: DEBUG
